<a href="https://colab.research.google.com/github/msandhiya07/Multidiseasesds/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/indian_liver_patient - indian_liver_patient.csv')

In [3]:
print(df.head())

   Age  Gender  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
0   65  Female              0.7               0.1                   187
1   62    Male             10.9               5.5                   699
2   62    Male              7.3               4.1                   490
3   58    Male              1.0               0.4                   182
4   72    Male              3.9               2.0                   195

   Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
0                        16                          18             6.8
1                        64                         100             7.5
2                        60                          68             7.0
3                        14                          20             6.8
4                        27                          59             7.3

   Albumin  Albumin_and_Globulin_Ratio  Dataset
0      3.3                        0.90        1
1      3.2                        0.74        1
2      3.3                        0.89        1
3      3.4                        1.00        1
4      2.4                        0.40        1

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    int64
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    float64
 3   Direct_Bilirubin            583 non-null    float64
 4   Alkaline_Phosphotase        583 non-null    int64
 5   Alamine_Aminotransferase    583 non-null    int64
 6   Aspartate_Aminotransferase  583 non-null    int64
 7   Total_Protiens              583 non-null    float64
 8   Albumin                     583 non-null    float64
 9   Albumin_and_Globulin_Ratio  579 non-null    float64
 10  Dataset                     583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB
None

In [5]:
print(df.isnull().sum())

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [6]:
print(df.describe())

              Age  Total_Bilirubin  Direct_Bilirubin  Alkaline_Phosphotase  \
count  583.000000       583.000000        583.000000            583.000000
mean    44.746141         3.298799          1.486106            290.576329
std     16.189833         6.209522          2.808498            242.937989
min      4.000000         0.400000          0.100000             63.000000
25%     33.000000         0.800000          0.200000            175.500000
50%     45.000000         1.000000          0.300000            208.000000
75%     58.000000         2.600000          1.300000            298.000000
max     90.000000        75.000000         19.700000           2110.000000

       Alamine_Aminotransferase  Aspartate_Aminotransferase  Total_Protiens  \
count                583.000000                  583.000000      583.000000
mean                  80.713551                  109.910806        6.483190
std                  182.620356                  288.918529        1.085451
min                   10.000000                   10.000000        2.700000
25%                   23.000000                   25.000000        5.800000
50%                   35.000000                   42.000000        6.600000
75%                   60.500000                   87.000000        7.200000
max                 2000.000000                 4929.000000        9.600000

          Albumin  Albumin_and_Globulin_Ratio     Dataset
count  583.000000                  579.000000  583.000000
mean     3.141852                    0.947064    1.286449
std      0.795519                    0.319592    0.452490
min      0.900000                    0.300000    1.000000
25%      2.600000                    0.700000    1.000000
50%      3.100000                    0.930000    1.000000
75%      3.800000                    1.100000    2.000000
max      5.500000                    2.800000    2.000000